:root{
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #A9DFBF ;
    --secundario: #FFF17C;
    --terciario: #F5F5AF;
    --otro:#FFDA45;  
    --cafe: #C4AD79;
    --fuente-principal: 3.8rem;
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
}   


html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;/*Hacer Scroll la pagina auto como primera pagina de apple*/
}

*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteHeading);
    font-size: 1.6rem;
    line-height: 2;
}

a{
    text-decoration: none;
    color: var(--blanco);
}

h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
}
h2{
    font-size: 4rem;
}

h3{
    font-size: 3.8rem;
    font-weight: normal;
}
h4{
    font-size: 2.8rem;
    margin: 0;
}

img{
    max-width: 100%;
}

h1{
    font-size: 4.8rem;
}




.centrar-texto{
    text-align: center;
    font-size: 3.5rem;
    padding: 2rem;
    
       
}

.centrar-texto h3{
    font-size: 2.5rem;
    font-weight: bold;
}

.centrar-texto h3:hover{
    color: var(--negro);
    font-size: 2.5rem;
    font-weight: bold;
}

.titulo  span{
    font-size: 2rem;
}
a{
    color: var(--blanco);
    text-decoration: none;
    align-items: center;
    text-align: center;

    
}

.autores__titulo a,
.obras__titulo a{
    color: var(--negro);
    margin: 3rem;
    padding: 2rem;
}


.nav-bg{
    background-color: var(--blanco); 
   
}


@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;        
   }
}
.navegacion-principal a{
    color: var(--negro);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover{
    color: var(--primario);
    
}
.banner-principal{
    background-image: url(https://media.admagazine.com/photos/650a125d67e5077bc4c9584a/master/w_1600%2Cc_limit/arquitectura-g%25C3%25B3tica-interior.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    padding: 20px;
    position: relative;
    
    
}

.contenido-banner-principal{
    color: #ffffff;
    position: absolute;
    background-color: rgb(0 0 0 / 40%);
    top:0 ;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.iconos{
    display: flex;
    justify-content: center;
}

.iconos__temas{
    background-color: #C4AD79;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    
    
}

.epoca-gotica{
    text-align: center;
    padding: 1rem;
    padding-top: 5rem;
}

.volver-atras{
    color: var(--negro);
    text-decoration: none;
}


@media (max-width: 480px) {
    .epoca,
    .autores,
    .obras{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        gap: 2rem;
        
    }.catedral,
    .salisbury,
    .burgos,
    .pierre,
    .obispo,
    .autor-burgos{
        margin: 2rem;
        
    }.navegacion-principal{
        display: flex;
        flex-direction: column;
        justify-content: space-between;        
   }
  }


  @media (min-width: 768px) {
    
    .arquitectura{
        display: grid;
        grid-column: 2 / 3;
        grid-row: 1 / 8;
       
    }.obras__apartado,
    .autores__apartado{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 30rem;
        column-gap: 2rem;
    }.epoca{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 3rem;
        column-gap: 3rem;
        
    }.sociedad__titulo,
    .arquitectura__titulo {
        text-align: start;
    }.autores,
    .obras{
        padding: 10rem;
    }.navegacion-principal{
        display: flex;
        justify-content: space-between;
    }
  }



.catedral{
    background-image: url(https://images.pexels.com/photos/16589479/pexels-photo-16589479/free-photo-of-ciudad-francia-punto-de-referencia-paris.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.salisbury{
    background-image: url(https://images.pexels.com/photos/14265002/pexels-photo-14265002.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.burgos{
    background-image: url(https://viajes.nationalgeographic.com.es/medio/2020/11/05/ocho-siglos-de-historia_4272e68f_2000x1336.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}


.pierre{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Hotel_de_ville_paris028.jpg/1200px-Hotel_de_ville_paris028.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.obispo{
    background-image: url(https://cdn.britannica.com/79/126979-050-97F67940/James-Wyatt-1800.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.autor-burgos{
    background-image: url(https://media.traveler.es/photos/61375db372cad4b2dbd5ccbe/master/w_1600%2Cc_limit/220684.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*footer*/

.footer{
    text-align: center;
    padding: 2rem;
}